doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/css/styles.css")
    script(src="/js/distributionColorChange.js" type="text/javascript")
    script(src="/js/sectionSelector.js" type="text/javascript")
    script(src="/js/dateUpdater.js" type="text/javascript")

    title Distribution Editor

  body
    include ../partials/navbar.pug
    - const todayFormatted = today.toISOString().substring(0,10);

    if (Object.keys(distribution).length > 0)
      h1(class="centered-text")= `Distribution Spread for ${gymName}`

      div(class="section-selectors-container centered-text")
        each section in sectionList
          div
            span(
              id= section.id
              class="section-selectors"
              onclick=`changeClass('${section.id}')`)= section.name

      div(class="distribution-holder")
        each section, sectionId in distribution
          form(name=sectionId class="hidden" action="/api/saveDistribution/currentRoutes" id=`form-${sectionId}` method="POST")
            input(class="hidden selected-section" name="selectedSection" value=sectionId)
            div(id="ropes-updater" class="date-udpater-container")
              input(class=`gray-background date-updater update-${sectionId}` type="date" name="dateSet" value=todayFormatted)
              button(class="date-updater button" type="button" onclick=`updateDate('${sectionId}', '${todayFormatted}')`) Set Current Dates
            table(class="distribution-table")
              tr(class="distribution-tr")
                th(class="distribution-th") Station
                th(class="distribution-th") Location
                th(class="distribution-th") Rope Style
                th(class="distribution-th") Grade
                th(class="distribution-th") Color
                th(class="distribution-th") Setter
                th(class="distribution-th") Name
                th(class="distribution-th") Date
                th(class="distribution-th") Days Old
              for climb in section
                input(class="hidden" name="id" value=climb.id)
                input(class="hidden" name="gymId" value=gymId)
                tr(class=`distribution-tr climb${climb.id} ${climb.color.toLowerCase()}`)
                  td(class=`distribution-td climb${climb.id} ${climb.color.toLowerCase()}`)
                    input(class="centered-text gray-background station-size" name="station" value=climb.station)

                  td(class="distribution-td")
                    select(class=`climb${climb.id} ${climb.color.toLowerCase()}` name="sectionId")
                      each section in sectionList
                        if section.id === climb.sectionId
                          option(class=`climb${climb.id} ${climb.color.toLowerCase()}` value=section.id selected)= section.name
                        else
                          option(class=`climb${climb.id} ${climb.color.toLowerCase()}` value=section.id)= section.name

                  td(class="distribution-td")
                    select(class=`climb${climb.id} ${climb.color.toLowerCase()}` name="ropeStyle")
                      each style in ['Top Rope Only', 'Lead Only', 'Auto Belay Only', 'TR/Lead']
                        if style === climb.ropeStyle
                          option(class=`climb${climb.id} ${climb.color.toLowerCase()}` value=style selected)= style
                        else
                          option(class=`climb${climb.id} ${climb.color.toLowerCase()}` value=style)= style

                  td(class="distribution-td")
                    select(class=`climb${climb.id} ${climb.color.toLowerCase()}` name="grade")
                      each grade in ['Ungraded', '5.3', '5.4', '5.5', '5.6', '5.7', '5.8', '5.9', '5.10-', '5.10', '5.10+', '5.11-', '5.11', '5.11+', '5.12-', '5.12', '5.12+', '5.13-', '5.13', '5.13+', '5.14-', '5.14', '5.14+', '5.15-', '5.15', '5.15+']
                        if grade === climb.grade
                          option(class=`climb${climb.id} ${climb.color.toLowerCase()}` value=grade selected)= grade
                        else
                          option(class=`climb${climb.id} ${climb.color.toLowerCase()}` value=grade)= grade

                  td(class="distribution-td")
                    select(class=`climb${climb.id} ${climb.color.toLowerCase()}` onchange=`backgroundChanger(${climb.id}, this.value)` name="color")
                      each color in ['Blank', 'White', 'Green', 'Black', 'Orange', 'Blue', 'Yellow', 'Red', 'Purple', 'Tan', 'Pink']
                        if color === climb.color
                          option(class=`climb${climb.id} ${climb.color.toLowerCase()}` value=color selected)= color
                        else
                          option(class=`climb${climb.id} ${climb.color.toLowerCase()}` value=color)= color

                  td(class="distribution-td")
                    select(class=`climb${climb.id} ${climb.color.toLowerCase()}` name="setter")
                      each setter in employeeList
                        if setter === climb.setter
                          option(class=`climb${climb.id} ${climb.color.toLowerCase()}` value=setter selected)= setter
                        else
                          option(class=`climb${climb.id} ${climb.color.toLowerCase()}` value=setter)= setter

                  td(class="distribution-td")
                    input(class="gray-background" class="centered-text" name="climbName" value=climb.climbName)

                  td(class=`climb${climb.id} ${climb.color}` class="distribution-td")
                    input(class="gray-background date" type="date" name="dateSet" value=climb.dateSet)

                  //- 86400000 milliseconds in a day
                  td(class=`distribution-td climb${climb.id} ${climb.color.toLowerCase()}`)= Math.floor((today - Date.parse(climb.dateSet)) / (86400000))
            div(class="distribution-button-container")
              button(class="distribution-button" type="submit") Save Distribution
              button(class="distribution-button" type="submit" formaction=`/placards/${gymId}/routes` formmethod="GET") Print Routes

    else
      h2(class="centered-text") No distribution found.

script.
      const formList = document.forms;
      const selectedSection = JSON.parse('!{JSON.stringify(selectedSection)}');

      formList[selectedSection - 1].classList.remove('hidden');
      let formName = formList[selectedSection - 1].name;
      firstRouteSection = document.getElementById(formName);
      firstRouteSection.classList.add('selected');
